.title-font {
    font-size: 45px !important;
}

.header-font {
    font-size: 37.5px !important;
}

.label-font {
    font-size: 25px !important;
}

.minor-font {
    font-size: 17px !important;
}
