body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#roseLogo{
    max-width: 350px;
    margin: 20px auto;
    display: block;
}

#roseFireButton{
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #800000;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #ddd;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

#pageHeader {
    margin: auto;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#mainContentPlane {
    padding-top: 25px;
    padding-left: 100px;
    padding-right: 100px;
}

.card-img-top{
    height: 14rem;
    width: 20rem;
}

.card{
   
    margin: 10px 20px;
    text-align: center;
}