.title-font {
    font-size: 36px !important;
}

.header-font {
    font-size: 30px !important;
}

.label-font {
    font-size: 20px !important;
}

.minor-font {
    font-size: 14px !important;
}
