body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

#roseLogo{
    max-width: 350px;
    margin: 20px auto;
    display: block;
}

#roseFireButton{
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1em;
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #800000;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #ddd;
}

.list-group-item :first-child {
    margin-right: 0.75rem;
}

#pageHeader {
    margin: auto;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#mainContentPlane {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
#post {
    width: 100rem;
    height: 100rem;
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
}
#PostTitle{
    justify-content: center;
}

.dropdown-menu-right {
    left: -128px;
}

#postPhoto {
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;

    margin-right: 20px;
}

#authorActionsMenu {
    display: none;
}

.reply {
    margin-left: 20px;
    margin-right: 20px;
}

.reply-header {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.reply-content {
    padding-left: 10px;
    padding-right: 10px;
}

#replyButtonContainer {
    display:flex;
    justify-content: flex-end;
    padding-right: 20px;
}


/* Below we can add stuff to format these how we want */
.reply-author {
    text-transform: capitalize;
}

.reply-text {
    margin-top: 10px;
}

.reply-timestamp {
    color: grey;
}

#submitEditPost {
    color: #800000;
}

#submitDeletePost {
    color: #800000;
}

#submitReply {
    color: #800000;
}

#submitEditReply {
    color: #800000;
}

#submitDeleteReply {
    color: #800000;
}