.title-font {
    font-size: 28.8px !important;
}

.header-font {
    font-size: 24px !important;
}

.label-font {
    font-size: 16px !important;
}

.minor-font {
    font-size: 11px !important;
}

